<div class="parent-title">
  <h1>Spica App</h1>
  <img src="assets/icon/icon.png">
</div>

<div class="parent-form">

  <div class="child-form">
    <div class="container-form">
      <form (ngSubmit)="onSubmit()">
        <ion-row class="mb-3">
          <ion-item>
            <ion-input type="email" placeholder="Introduce tu email..." [(ngModel)]="formulario.email" name="email">
            </ion-input>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item>
            <ion-input type="password" placeholder="Introduce tu contraseña..." [(ngModel)]="formulario.password"
              name="password"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-button type="submit" color="danger" expand="full" shape="round">Iniciar sesión</ion-button>
          <p class="enlace-registro" routerLink="/register"><strong> ¿No tienes cuenta? ¡Regístrate ya!</strong> </p>
        </ion-row>
      </form>
    </div>
  </div>

</div>